<ion-header >
  <ion-toolbar>
    <ion-title>Cities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card *ngIf="selectedCity" class="featured-card">
  <ion-item lines="none">
    <h5 slot="start">Featured</h5>
    <ion-icon (click)="editFeatured()" name="create" slot="end"></ion-icon>
  </ion-item>
  <div>
    <h1 style="text-align: center;">{{selectedCity.name}}</h1>
    <p> Lat : {{selectedCity.coord.lat}} &nbsp; Lon : {{selectedCity.coord.lon}} </p>
  </div>
</ion-card>
</ion-content>
