<ion-header>
  <ion-toolbar>
    <ion-title>Add City</ion-title>
    <ion-button size="small" (click)="close()" icon-only slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar style="padding-top	 : 10px">
    <ion-searchbar (ionChange)="search()"  [(ngModel)]="searchName" color="light" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="empty-div" *ngIf="cities.length == 0" >
  <p>  {{searchName.length > 2? 'No cities match your search' : 'Type atleast  three letters to search'}} </p>
 </div>


 <ion-item (click)="citySelected(city)" *ngFor="let city of cities" >
 <ion-list>
  <ion-label> {{city.name}}  </ion-label>
  <ion-label class="coord" > Lat : {{city.coord.lat}} Lon : {{city.coord.lon}} </ion-label>
 </ion-list>
  <ion-label slot="end" > {{city.country}} </ion-label>

 </ion-item>
</ion-content>
