<ion-header >
  <ion-toolbar>
    <ion-title>Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;" > {{slectedCity?.name}} </h2>
  <ion-card class="timeline-card" *ngIf="weatherData">
    <ion-item lines="full" class="top-item" >
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label>10 days forecast</ion-label>
    </ion-item>
   <table>
    <tr *ngFor="let day of weatherData.days" >
      <td>{{day.datetime}}</td>
      <td style="display: flex; justify-content: center; align-items: center;" >
        <ion-img [src]="'assets/weather-icons/'+day.icon+'.svg'"></ion-img>
      </td>
      <td>{{fahrenheitToCelsius(day.tempmin)}}&deg;-{{fahrenheitToCelsius(day.tempmax)}} </td>
    </tr>
   
   </table>
  </ion-card>
</ion-content>
